.main {
  padding: 1rem;
  min-height: 100vh;
}

.listBar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.listBarMenu {
  display: flex;
  margin: 0;
}

.listBarMenu h2 {
  font-size: x-large;
}

.listBarOptions {
  display: flex;
  margin: 0;
  justify-items: right;
  gap: 0.5rem;
}

.listBarOptions select {
  border: 2px solid black;
  border-radius: 8px;
  background: none;
  cursor: pointer;
}

.listLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 70%;
  margin: auto;
}

.addMenu {
  width: 50%;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  margin: 10px auto;
}

/* Mobile */
@media (max-width: 700px) {
  .listBar {
    width: 100%;
  }
  .listBarOptions {
    flex-direction: column;
    gap: 10px;
  }
  .listLayout {
    width: 100%;
  }
  .addMenu {
    width: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
