.main {
  padding: 1rem;
  min-height: 100vh;
}

.listBar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.listBarMenu {
  display: flex;
  margin: 0;
}

.listBarMenu h2 {
  font-size: x-large;
}

.listBarOptions {
  display: flex;
  margin: 0;
  justify-items: right;
  gap: 0.5rem;
}

.listBarOptions select {
  border: 2px solid black;
  border-radius: 8px;
  background: none;
  cursor: pointer;
}

.listLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 70%;
  margin: auto;
}

.addMenu {
  position: "fixed";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
  background: "rgba(0, 0, 0, 0.5)";
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

/* Mobile */
@media (max-width: 700px) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
